*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.image1{
  height: 200px;
  background-image: url(img/box1.jpg);
  background-position: center;
  background-size: cover;
}
.image2{
  height: 200px;
  background-image: url(img/box2.jpg);
   background-position: center;
  background-size: cover;
}
.image3{
  height: 200px;
  background-image: url(img/box3.jpg);
   background-position: center;
  background-size: cover;
}
.image4{
  height: 200px;
  background-image: url(img/box4.jpg);
   background-position: center;
  background-size: cover;
}